h1, p {
  color: var(--body_color);
}
.header {
  display: flex;
  justify-content: space-between;
}
.day_list{
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.buttons{
  display: flex;
  justify-content: end;
  gap: 10px;
}
.close,
.edit{
  background-color: transparent;
  border: none;
}
.paper{
  background-color: rgb(211, 210, 205);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 20px;
  width: calc(100% - 40px);
  min-height: 20px;
}
form {
  display: flex;
}
input {
  height: 24px;
  border: none;
  border-radius: 5px 0 0 5px;
}
.add {
  height: 25px;
  padding: 0px 12px;
  color: white;
  font-weight: bold;
  border: none;
  background-color: rgb(9,178,118);
  border-radius: 0 5px 5px 0;
}
.edit_buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}
.button {
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
}
.delete {
  background-color: red;
}
.exit {
  background-color: grey;
}
.save {
  background-color: rgb(9,178,118);
}