p, .li_element {
  color: white
}
.add_day_prev {
  outline: inherit;
  width: 240px;
  height: 30px;
  border: 2px solid rgb(9,178,118);
  border-radius: 10px;
  background-color: transparent;
  color: rgb(9,178,118);
}
.add_day_prev:hover{
  background-color: rgb(9,178,118);
  color: white;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 500px;
  margin: auto;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 1px solid rgb(9,178,118);
  padding: 20px;
  border-radius: 10px;
  max-width: 200px;
}
.inputs  {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.add_acc {
  display: flex;
}
