button {
  width: 60px;
  border: none;
  padding: 5px 0px;
  border-radius: 5px;
  color: white;
}
.delete {
  background-color: red;
}
.exit {
  background-color: grey;
}
.save {
  background-color: var(--main_color);
}
