h1, p {
  color: var(--body_color);
}
.header {
  display: flex;
  justify-content: space-between;
}
.day_list{
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--card_width));
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.buttons{
  display: flex;
  justify-content: end;
  gap: 10px;
}
.edit{
  background-color: transparent;
  border: none;
}
.paper{
  background-color: rgb(211, 210, 205);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  padding: 20px;
  width: calc(100% - 40px);
  min-height: 20px;
  transition: height 0.5s ease-out;
}
.transition {
  height: auto;
}

form {
  display: flex;
}

/* This two styles are overall lol */
input {
  width: 100%;
  height: 24px;
  border: none;
  border-radius: 5px 0 0 5px;
}
.add {
  height: 25px;
  padding: 0px 12px;
  color: white;
  font-weight: bold;
  border: none;
  background-color: rgb(9,178,118);
  border-radius: 0 5px 5px 0;
}

.edit_buttons {
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: space-between;
}
.button {
  width: 60px;
  border: none;
  padding: 5px 0px;
  border-radius: 5px;
  color: white;
}
.delete {
  background-color: red;
}
.exit {
  background-color: grey;
}
.save {
  background-color: rgb(9,178,118);
}
.list_editable {
  list-style: none;
  padding: 0;
}
.list_editable li {
  display: flex;
  align-items: baseline;
}
.li_text {
  color: black;
}
.cross {
  font-family: cursive;
  color: rgb(229, 22, 22);
  margin-right: 10px;
  font-size: 20px;
}